html {
  font-family: arial;
  color: white;
  background-color: #2C4762;
}

header {
  border-bottom: 2px solid white; 
}

#logo {
  font-size: 80px;
  margin: 0px;
}

#dark {
  background-color: #003366;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  width: 900px;
  border-radius: 100px;
  margin-top: 50px;
}
  
