html {
  font-family: arial;
  color: white;
  background-color: #2C4762;
}

header {
  border-bottom: 2px solid white; 
  text-shadow: 10px 12px black;
}

#logo {
  font-size: 80px;
  margin: 0px;
}

#dark {
  background-color: #003366;
  margin-left: auto;
  margin-right: auto;
  height: 1050px;
  width: 1100px;
  border-radius: 100px;
  margin-top: 50px;
  text-align: center;
  font-size: 75px;
  border: 2px solid white;
  text-shadow: 10px 12px black;
}

#tumblr {
  font-size: 80px;
  text-decoration: underline;
  font-weight: bold;
}
  
#learn {
  background-color: #2C4762;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border: 2px bevel white;
  text-shadow: 5px 6px black;
}
  
