header {
  border-bottom: 2px solid white; 
  text-shadow: 10px 12px black;
}

#logo {
  font-size: 80px;
  margin: 0px;
}

html {
  font-family: arial;
  color: white;
  background-color: #2C4762;
}

#learn {
  background-color: #003366;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 2px bevel white;
  text-shadow: 5px 6px black;
}

section {
 border-bottom: 2px solid white; 
}
